@page
@model Danil_NPK_WebApplication.Pages.abiModel
@{

}
<div>
    <a href="#"><img src="img/reklama2021.png" height="1000" width="900" class="center"></a>
    <h1 align="center">История</h1>
    <p>
        Среднее профессиональное образование – наиболее востребованный в нашем обществе уровень образования.
        Специальные знания в России должны стать основным звеном в профессиональной деятельности,
        а среднее профессиональное образование – ведущим производителем кадров. От выпускника среднего
        профессионального учебного заведения требуются хорошо отработанные знания, умения и навыки,
        осознанность решений, быстрота и точность выполнения действий, ответственность и способность к самоконтролю.
    </p>
    <p>
        Колледж создан по решению ученого совета университета и в соответствии с приказом ректора от 31.03.2000 г.
        № 1-95 как Гуманитарно-технический колледж. В соответствии с решением ученого совета университета
        (протокол от 26.10.2016 г. № 2) и приказом ректора от 16.11.2016 г. № 1-508 Гуманитарно-технический
        колледж переименован в Новочеркасский политехнический колледж.<br>
    </p>
    <p>
        Новочеркасский политехнический колледж является учебно-производственным и административным
        подразделением университета, обеспечивающим реализацию основных образовательных программ среднего
        профессионального образования, осуществляющим методическую, воспитательную и внеучебную работу среди
        обучающихся.<br>
    </p>
    <p>
        Набор производится на самые востребованные специальности среднего профессионального образования.
        В колледж приглашаются выпускники 9-х и 11-х классов. Поступление без вступительных экзаменов на все
        специальности кроме специальности «Дизайн». На сегодняшний день осуществляется набор абитуриентов по
        следующим специальностям:<br>
    </p>
    <p><b>08.02.01:</b> Строительство и эксплуатация зданий и сооружений<br></p>
    <p><b>09.02.07:</b> Информационные системы и программирование<br></p>
    <p><b>15.02.10:</b> Мехатроника и мобильная робототехника (по отраслям)<br></p>
    <p><b>15.02.12:</b> Монтаж, технологическое обслуживание и ремонт промышленного оборудования (по отраслям)<br></p>
    <p><b>15.02.15:</b> Технология металлообрабатывающего производства<br></p>
    <p><b>23.02.01:</b> Организация перевозок и управление на транспорте (по видам)<br></p>
    <p><b>38.02.01:</b> Экономика и бухгалтерский учет (по отраслям)<br></p>
    <p><b>54.02.01:</b> Дизайн (по отраслям)<br></p>
    <p>
        Иногородним студентам предоставляется общежитие. По окончании колледжа – поступление в университет
        без сдачи ЕГЭ.<br>
    </p>
    <p>
        Новочеркасский политехнический колледж – университетский колледж первого вуза на Юге
        России стремится поддерживать высокое качество образования. Занятия со студентами колледжа ведут
        квалифицированные преподаватели. Учебные дисциплины, входящие в общепрофесссиональный цикл и
        профессиональные модули, ведут преподаватели выпускающих кафедр университета, в числе которых – кандидаты и
        доктора наук. Учебно-материальная и лабораторная база, а также богатейший библиотечный фонд позволяют
        осваивать программы среднего профессионального образования на высоком уровне. По окончании обучения в
        колледже выпускники получают возможность поступить на высшее образование (бакалавриат), на любое направление,
        реализуемое в ЮРГПУ(НПИ).<br>
    </p>
    <p>ЮРГПУ(НПИ) имени М.И. Платова – лидер в области российского технического образования!<br></p>
</div>

<div id="on_year1" style="position: absolute; top: 3.5%; right: 5%; ">
    <table align="right">
        <tr>
            <td>
                <a href="plan">
                    <p>
                        План пириёма
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="mesto">
                    <p>
                        Вакантные места⁠
                    </p>
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="span3 logo hidden-phone"
     id="logo img" style="position: absolute; top:0.5%; left:0;">
    <a href="Index"><img src="img/yurgpu04.jpg" border="0" align="left"></a>
</div>