@page
@model Danil_NPK_WebApplication.Pages.DekanatModel
@{

}


<div class="span3 logo hidden-phone"
     id="logo img" style="position: absolute; top:1%; left:0;">
    <a href="Index"><img src="img/yurgpu04.jpg" border="0" align="left"></a>
</div>
<h1 align="center" class="display-4">Деканат</h1>
<div class="dek">
    <img src="img/51408ea9dc2a35a07b6da39c14e94396.jpg" height="200" width="180" class="center">
    <p><b>Директор:</b><br>Литовченко Татьяна Викторовна</p>
    <img src="img/chmyixova-viktoriya-aleksandrovna.c623d67eaba5bad635f9a44a4e96ef6816.jpg" height="200" width="180" class="center">
    <p><b>Специалист по УМР:</b><br>Попова Светлана Валерьевна</p><br>
    <img src="img/sveta-popova.c623d67eaba5bad635f9a44a4e96ef6816.jpg" height="200" width="180" class="center">
    <p><b>Инженер- программист:</b><br>Чмыхова Виктория Александровна</p><br>
</div>
<div>
    <script>
            let d = new Date();
            alert("Today's date is " + d);
    </script>
</div>

<body>
    <form>
        <p><a href="O kolleje"><p><input id="Button1" type="button" value="Назад" /></a></p>
    </form>
</body>