@page
@model Danil_NPK_WebApplication.Pages.NewsModel
@{

}
<div class="span3 logo hidden-phone"
     id="logo img" style="position: absolute; top:0.5%; left:0;">
    <a href="Index"><img src="img/yurgpu04.jpg" border="0" align="left"></a>
</div>

<a href="#"><img src="img/musei-pozharnih.jpg" height="600" width="750" class="center"></a>
<div>
    <h1>Студенты НПК в Музее пожарных</h1>
    <p>21 апреля студенты Новочеркасского политехнического колледжа в рамках практических занятий по дисциплине "Основы безопасности жизнедеятельности" вместе с преподавателем Виноградовой Е.А. посетили Музей пожарных, расположенный в ПЧ 28 в г. Новочеркасске.</p>
    <p>Студенты посмотрели несколько залов, каждый из которых был посвящен отдельной теме и соответствующей экспозиции, узнали историю пожарной охраны, ознакомились с техникой и методами оповещения населения о пожаре. После экскурсии по музею ребята посетили 28 пожарно-спасательную часть. Огнеборцы продемонстрировали ребятам, чем оснащена пожарная машина, показали современную экипировку пожарного и рассказали про основные правила поведения при пожаре.<br></p>
    <a href="#"><img src="img/vinogradova.jpg" height="600" width="750" class="center"></a>
    <h1>Совместное занятие для студентов колледжа</h1>
    <p>В современных условиях глобализации развития мировой экономики, усложнения и увеличения напряженности 
    профессиональной деятельности специалистов существенно возрастает общественно-производственное значение 
    состояния здоровья каждого человека. В связи с этим исключительную важность приобретает высокая профессиональная 
    подготовка специалистов различного профиля к принятию решений и действиям по предупреждению чрезвычайных ситуаций. 
    Дисциплина «Основы безопасности жизнедеятельности» изучает риски производственной, природной, социальной, бытовой, городской и других сред обитания человека как в условиях повседневной жизни, так и при возникновении чрезвычайных ситуаций техногенного, природного и социального характера. 
    Основными темами для изучения являются: введение в дисциплину, обеспечение личной безопасности и сохранение здоровья, государственная система обеспечения безопасности населения, основы обороны государства и воинская обязанность, основы медицинских знаний. В связи с этим предусмотрено проведение в конце учебного года для обучающихся мужского пола учебных занятий, сочетающих разнообразные формы организации теоретических и практических занятий. 
    В итоге у юношей формируется адекватное представление о военной службе, развиваются качества личности, необходимые для ее прохождения.</p>
    <p>21 мая преподаватель НПК Виноградова Е.А. и преподаватель ВУЦ ЮРГПУ (НПИ) провели совместное занятие для студентов колледжа. Тематика: организационная структура Вооруженных Сил, функции и основные задачи, виды и рода Вооруженных Сил РФ, общевоинские уставы, особенности прохождения военной службы по призыву.<br></p>
</div>
<body>
    <form>
        <p><a href="O kolleje"><p><input id="Button1" type="button" value="Назад" /></a></p>
    </form>
</body>