@page
@model Danil_NPK_WebApplication.Pages.O_kollejeModel
@{

}
<div>
    <h1 align="center"> О колледже</h1>
</div>
<div>
    <p>Режим работы</p>
        <p>Понедельник - Пятница: 09.00-18.00<br>
    </p>
    <a href="#"><img src="img/liczenziya-01.jpg" height="425" width="300" class="center"></a>
    <a href="#"><img src="img/svidetelstvo-ob-akkreditaczii-01.jpg" height="425" width="300" class="center"></a>
    <p>
        <div style="color: #000000">
            &nbsp; Новочеркасский политехнический колледж является структурным подразделением
            Южно-Российского государственного политехнического университета (НПИ).
            Поступая в наш колледж, Вы не только приобретаете возможность получить востребованное
            среднее профессиональное образование, но и становитесь студентом одного из ведущих вузов России.
        </div>
    </p>
</div>

<div id="on_year1" style="position: absolute; top: 10%; right: 2%; ">
    <table align="right">
        <tr>
            <td>
                <a href="Dekanat">
                    <p>
                        Деканат
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="News">
                    <p>
                        Новости
                    </p>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="DTP">
                    <p>
                        Профилактика ДТП
                    </p>
                </a>
            </td>
        </tr>
    </table>
</div>
<div class="span3 logo hidden-phone"
     id="logo img" style="position: absolute; top:1%; left:0;">
    <a href="Index"><img src="img/yurgpu04.jpg" border="0" align="left"></a>
</div>