@page
@model Danil_NPK_WebApplication.Pages.rasModel
@{

}
<div>
    <h1 align="center">Группы</h1>
    <div style="text-align: center;">
        <a href="#" class="center">
            <p>080201-СЭЗв-о20 ... cеместр 01.09.2021-21.12.2021, cессия 22.12.2021-28.12.2021</p>
        </a>
        <a href="#" class="center"><p>090203-ПКСа-о20 ... cеместр 01.09.2021-28.12.2021, cессия 29.12.2021-04.01.2022</p></a>
        <a href="#" class="center"><p>090203-ПКСв-о20 ... cеместр 01.09.2021-30.11.2021, cессия 22.12.2021-28.12.2021</p></a>
        <a href="#" class="center"><p>090203-ПКСэ-о20 ... cеместр 01.09.2021-30.11.2021, cессия 22.12.2021-28.12.2021</p></a>
        <a href="#" class="center"><p>090207-ИСПа-о20 ... cеместр 01.09.2021-04.01.2022, cессия 05.01.2022-18.01.2022</p></a>
        <a href="#" class="center"><p>090207-ИСПб-о20 ... cеместр 01.09.2021-04.01.2022, cессия 05.01.2022-18.01.2022</p></a>
        <a href="#" class="center"><p>090207-ИСПк-о20 ... cеместр 01.09.2021-04.01.2022, cессия 30.12.2021-30.12.2021</p></a>
        <a href="#" class="center"><p>150210-ММРа-о20 ... cеместр 01.09.2021-04.01.2022, cессия 05.01.2022-18.01.2022</p></a>
        <a href="#" class="center"><p>150212-МПОа-о20 ... cеместр 01.09.2021-04.01.2022, cессия 06.01.2022-18.01.2022</p></a>
        <a href="#" class="center"><p>150212-МПОб-о20 ... cеместр 01.09.2021-04.01.2022, cессия 06.01.2022-18.01.2022</p></a>
        <a href="#" class="center"><p>150215-ТМПа-о20 ... cеместр 01.09.2021-04.01.2022, cессия 06.01.2022-18.01.2022</p></a>
        <a href="#" class="center"><p>230201-ОПУа-о20 ... cеместр 01.09.2021-28.12.2021, cессия 22.12.2021-28.12.2021</p></a>
        <a href="#" class="center"><p>230201-ОПУб-о20 ... cеместр 01.09.2021-28.12.2021, cессия 22.12.2021-28.12.2021</p></a>
        <a href="#" class="center"><p>230201-ОПУв-о20 ... cеместр 01.09.2021-21.11.2021, cессия 22.11.2021-28.11.2021</p></a>
        <a href="#" class="center"><p>380201-ЭБУа-о20 ... cеместр 01.09.2021-28.12.2021, cессия 22.12.2021-27.12.2021</p></a>
        <a href="#" class="center"><p>380201-ЭБУв-о20 ... cеместр 01.09.2021-20.12.2021, cессия 21.12.2021-27.12.2021</p></a>
        <a href="#" class="center"><p>540201-Да-о20 ..... cеместр 01.09.2021-28.12.2021, cессия 22.12.2021-27.12.2021</p></a>
        <a href="#" class="center"><p>540201-Дб-о20 ..... cеместр 01.09.2021-28.12.2021, cессия 29.12.2021-30.12.2021</p></a>
        <a href="#" class="center"><p>540201-Дв-о20 ..... cеместр 01.09.2021-21.12.2021, cессия 22.12.2021-28.12.2021</p></a>
    </div>
    
</div>


<div class="span3 logo hidden-phone"
     id="logo img" style="position: absolute; top:1%; left:0;">
    <a href="Index"><img src="img/yurgpu04.jpg" border="0" align="left"></a>
</div>